@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kiwi+Maru&family=Momo+Trust+Display&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



@theme {
  --font-Familjen: "Familjen Grotesk", sans-serif;
  --font-Space-Mono: "Space Mono", sans-serif;

  --color-lightCharcoal: #A4A4A4;
  --color-charcoal: #1A1A1A;

  --color-deep-charcoal: #181818;
  --color-cream: #EAE8E0;
  --color-terracota: #D47759;
  --color-rust: #C15F3C;
  --color-dark-gray: #222222;
  --color-light-gray: #F3F2EF;
  --color-clay: #d97757;

  --color-stop1: #1F1F1F;
  --color-stop2: #131313;
  --color-stop3: #060606;

  --color-neutral-core: #141414;
  --color-deep-emerald: #0d1a14;
  --color-mid-indigo: #0d111d;
  --color-warm-graphite: #1b1612;
}
